<div class="row">
<h1>Your Current Items</h1>

  <% @foods.each do |food| %>
    <div class="col-md-4">
      <div class="thumbnail well">
      <h2><%= link_to food.item_name, food_path(food) %></a></h2>
    <h3><%= food.category %></h3>
      <h3><%= food.item_name %></h3>
      <h3><%= food.item_number %></h3>
      <h3><%= food.expiration %></h3>
      </div>
    </div>

  <% end %>
</div>