
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="header-caption">
        <span class="caption-subtitle">Your Food</span>
        <h2 class="caption-title">Your Item</h2>

        <h2><%= @food.category %></h2>

        <h3>Item Name: <%= @food.item_name %></h3>

        <h3>Item Number: <%= @food.item_number %></h3>

        <h3>Expiration: <%= @food.expiration %></h3>
        <div class="header-action-button">
          <%= link_to "Edit", edit_food_path(@food), class: "btn btn-primary" %> |
          <%= link_to "Delete", "/foods/#{ @food.id }", method: :delete, class: "btn btn-danger" %>
          <!-- <a class="btn btn-warning btn-md" href="#">Create an account</a>
          <a class="btn btn-default btn-bordered  btn-md" href="#">Log In</a> -->
        </div><!-- header-action-button -->
      </div><!-- .header-caption -->
    </div><!-- .col-sm-5 -->
  </div><!-- .row -->
</div><!-- .container -->
