<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="construction is awesome bootstrap responsive construction business theme">
    <meta name="keywords" content="construction, business, construction business, responsive, parallax, business theme">
    <link rel="shortcut icon" type="image/png" data-image-src="c_logo/Social_Media_Assets/favicon/favicon_symbol_inverse.png">

    <meta name="author" content="templateninja">
    <title>;-P Cornucopia</title>

    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:300,500" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/Pe-icon-7-stroke.css" rel="stylesheet">
    <link href="/css/owl.carousel.css" rel="stylesheet">
    <link href="/css/owl.theme.css" rel="stylesheet">
    <link href="/css/magnific-popup.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="/plugins/html5shiv.min.js"></script>
      <script src="/plugins/respond.min.js"></script>
    <![endif]-->


    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body id="home" class="home">

    <!-- begin:header -->
    <div class="header" data-parallax="scroll" data-image-src="/img/horn_of_cornucopia.jpg">
      <!-- begin:topbar -->
      <div id="topbar" class="topbar">
        <div class="container">
          <div class="row">
            <div class="col-sm-8">
              <div class="nav-utility">
              <% if current_user %>
                <span class="nav-item">Your source for maintaining your budget on food and recipes.</span>
              <% end %>
               
                
              
              </div><!-- .nav-utility -->
            </div><!-- .col-sm-8 -->



            <div class="col-sm-4 hidden-xs">
              <div class="nav-utility nav-right">
                <a href="#" class="nav-item"><i class="fa fa-twitter"></i></a>
                <a href="#" class="nav-item"><i class="fa fa-facebook"></i></a>
                <a href="#" class="nav-item"><i class="fa fa-pinterest"></i></a>
                <a href="#" class="nav-item"><i class="fa fa-envelope-o"></i></a>
                <a href="#" class="nav-item"><i class="fa fa-youtube"></i></a>
              </div><!-- .nav-utility -->
            </div><!-- .col-sm-4 -->
          </div><!-- .row -->
        </div><!-- .container -->
      </div><!-- .topbar -->
      <!-- end:topbar -->

      <!-- begin:site-navigation -->
      <div class="site-header-affix-wrapper">
        <header id="masthead" class="site-header" role="banner">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="site-branding">
                  <h1 class="site-title title-image"><a href="/" rel="home"><img src="/c_logo/png/color_logo_transparent@2x.png" alt="Diet Business" class="/img-responsive"></a></h1>
                </div><!-- .site-branding -->
              </div><!-- .col-sm-3 -->

              <div class="col-sm-9">
                <nav id="site-navigation" class="main-navigation" role="navigation">
                  <button class="menu-toggle" type="button" aria-controls="primary-menu" aria-expanded="false"><span class="pe-7s-menu"></span><span class="sr-only">Primary Menu</span></button>

                  <div class="menu-testing-menu-container">
                    <ul id="primary-menu" class="menu nav-menu" aria-expanded="false">
                      <li class="menu-item current-menu-item"><a href="/">Home</a></li>
                      <li class="menu-item"><a href="/pages/about">About</a></li>
                      <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Services</a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href="/recipes/new">Create Recipes</a></li>
                          <li class="menu-item"><a href="/recipes">Your Recipes</a></li>
                          <li class="menu-item"><a href="/foods/new">Add to Fridge</a></li>
                          <li class="menu-item"><a href="/foods">Your Fridge</a></li>
                        </ul>
                      </li>
                      <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Features</a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href="/login">Log In</a></li>
                          <li class="menu-item"><a href="/logout">Log Out</a></li>
                          <li class="menu-item"><a href="/signup">Create Profile</a></li>
                          <li class="menu-item"><a href="/profile/:id">Your Profile</a></li>
                          <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Shortcodes</a>
                            <ul class="sub-menu">
                              <li class="menu-item"><a href="/alert.html">Alert</a></li>
                              <li class="menu-item"><a href="/progress.html">Progress Bar</a></li>
                              <li class="menu-item"><a href="/social.html">Social Icon</a></li>
                              <li class="menu-item"><a href="/button.html">Button &amp; Label</a></li>
                              <li class="menu-item"><a href="/accordion.html">Accordion</a></li>
                              <li class="menu-item"><a href="/tab.html">Tabs</a></li>
                              <li class="menu-item"><a href="/pricing.html">Pricing</a></li>
                            </ul>
                          </li>
                          <li class="menu-item"><a href="/typography.html">Typography</a></li>
                          <li class="menu-item"><a href="/404.html">Not Found</a></li>
                          <li class="menu-item"><a href="/comingsoon.html">Comingsoon</a></li>
                        </ul>
                      </li>
                      <li class="menu-item"><a href="/pages/pricing">Pricing</a></li>
                      <li class="menu-item"><a href="https://medium.com/cornucopia-web-app">Blog</a></li>
                      <li class="menu-item"><a href="/contact.html">Contact</a></li>
                    </ul>
                  </div>
                </nav><!-- #site-navigation -->
              </div><!-- .col-sm-9 -->
            </div><!-- .row -->
          </div><!-- .container -->
        </header><!-- #masthead -->
      </div><!-- .site-header-affix-wrapper -->
      <!-- end:site-navigation -->

      <div class="container">
        <% flash.each do |name, message| %>
          <div class="alert alert-<%= name %> alert-dismissible" role="alert">
            <button type ="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button>
            <%= message  %>
          </div>
          <% end %>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <div class="header-caption">
              <span class="caption-subtitle">Our Service</span>
              <h2 class="caption-title">We are here to help you eat, watch and save your food.</h2>
              <p>We provide overall planning, coordination and control of a project, so you don’t have to worry about anything. Our promise as a contractor is to build community value into every project while delivering professional expertise.</p>
              <div class="header-action-button">
                <a class="btn btn-warning btn-md" href="/signup">Create an account</a>
                <a class="btn btn-default btn-bordered  btn-md" href="/login">Log In</a>
              </div><!-- header-action-button -->
            </div><!-- .header-caption -->
          </div><!-- .col-sm-5 -->
        </div><!-- .row -->
      </div><!-- .container -->
    </div><!-- #header -->
    <!-- end:header -->

        <%= yield %>

    <!-- begin:footer -->
    <footer id="colophon" class="site-footer bg-black" role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <section class="widget">
              <img src="/c_logo/png/color_logo_transparent@2x.png" alt="bootstrap theme for construction companies" height="130" width="160" class="/img-responsive marg-10-btm marg-10-top">
              <p>Construction company based on Orange, California. Construction was very sufficient in maintaining the integrity of project in terms of planning, scheduling, cost and quality.</p>
            </section><!-- .widget -->
          </div><!-- .col-## -->

          <div class="col-md-2 col-sm-6 col-md-offset-1 col-sm-offset-0">
            <section class="widget">
              <h3 class="widget-title">Our Company</h3>
              <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Selected Work</a></li>
                <li><a href="#">Get in touch</a></li>
                <li><a href="#">Careers</a></li>
              </ul>
            </section><!-- .widget -->
          </div><!-- .col-## -->

          <div class="col-md-3 col-sm-6">
            <section class="widget">
              <h3 class="widget-title">Our Services</h3>
              <ul>
                <li><a href="#">Food Monitoring</a></li>
                <li><a href="#">Recipe Search</a></li>
                <li><a href="#">Diet Help</a></li>
              </ul>
            </section><!-- .widget -->
          </div><!-- .col-## -->

          <div class="col-md-3 col-sm-6">
            <section class="widget">
              <h3 class="widget-title">Our Contact</h3>
              <p>1060 W. Addison, Chicago, Illinois United States.</p>
              <p>cornucopia@admin.com<br>+001 (312) 441 5005</p>
            </section>
          </div><!-- .col-## -->
        </div><!-- .row -->
      </div><!-- .container -->
    </footer><!-- #colophon -->
    <!-- end:footer -->

    <!-- begin:copyright -->
    <section id="copyright" class="copyright bg-black">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 copy-left">
            <p>Copyright &copy; 2016 <a href="/http://templateninja.net"><strong>TemplateNinja</strong></a>. All Right Reserved.</p>
          </div><!-- .col-sm-6 -->

          <div class="col-sm-6 copy-right">
            <ul class="social-icon">
              <li><a href="#" target="_blank" class="icon-twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" target="_blank" class="icon-facebook"><i class="fa fa-facebook-square"></i></a></li>
              <li><a href="#" target="_blank" class="icon-youtube"><i class="fa fa-youtube"></i></a></li>
              <li><a href="#" target="_blank" class="icon-instagram"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#" target="_blank" class="icon-twitch"><i class="fa fa-twitch" aria-hidden="true"></i></a>
              <li><a href="#" target="_blank" class="icon-linkedin"><i class="fa fa-linkedin"></i></a>
              <li><a href="#" target="_blank" class="icon-medium"><i class="fa fa-medium"></i></a>
              </li>
            </ul>
          </div><!-- .col-sm-6 -->
        </div><!-- .row -->
      </div><!-- .container -->
    </section><!-- #copyright -->
    <!-- begin:copyright -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/plugins/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/plugins/parallax.min.js"></script>
    <script src="/js/navigation.js"></script>
    <script src="/plugins/jquery.easing.js"></script>
    <script src="/plugins/jquery.magnific-popup.min.js"></script>
    <script src="/plugins/imagesloaded.pkgd.min.js"></script>
    <script src="/plugins/isotope.pkgd.min.js"></script>
    <script src="/plugins/owl.carousel.min.js"></script>
    <script src="/js/script.min.js"></script>
  </body>
</html>
